################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Obsidian/FileContentIndex/08a43074-3097-46a0-bc7f-5824e6833f0d.vsidx
/.vs/Obsidian/FileContentIndex/08e96c29-fb95-454c-b1f9-b42cfb5cd808.vsidx
/.vs/Obsidian/FileContentIndex/4724e79e-da54-4960-8dae-52f885acc76e.vsidx
/.vs/Obsidian/FileContentIndex
/.vs/slnx.sqlite
